*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: bolder;
}


/*POSITIONING*/
.calculator{
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    width: 400px;
    margin: 50px auto;
    padding: 10px;
    gap: 15px;
}

.display{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 15px;
}

.numbers-operators{
    display: flex;
    width: fit-content;
    gap: 15px;

}

.num{
    display: flex;
    flex-wrap: wrap;
    width: 72%;
    gap: 15px;
}

.operators{
    display: flex;
    flex-wrap: wrap;
    width: 24%;
    gap: 15px;
}

.bottom{
    display: flex;
    gap: 23px;
}

/*SIZING*/
.bottom button{
    width: 60px;
    height: 60px;
    flex-grow: 3;
    font-weight: bolder;
    font-size: 1.3rem;
}


.num button,.operators button, .display button{
    text-align: center;
    width: 60px;
    height: 60px;
    flex-grow: 2;
    font-weight: bolder;
    font-size: 1.3rem;
}


input{
    width: 72%;
    text-align: end;
    font-size: 1.6em;
    padding-right: 15px;
}